.end {
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: rgb(69, 69, 69);
    padding: 20px 0px 20px 10px;
    margin: 10px -10px 0px -10px;
    border: 1px white solid;
}

.end > .teams { 
    border-right: 1px white solid;
    padding: 24px 112px;
    margin: -21px;
}

.end > .education {
    border-right: 1px white solid;
    padding: 24px 112px;
    margin: -21px;
}

.end > .privacy {
    padding: 24px 112px;
    margin: -21px;
}

.end > .writing {
    border-left: 1px white solid;
    padding: 24px 112px;
    margin: -21px;
}

.end-bar {
    background-color: rgb(34, 34, 34);
    margin: 0px -10px -10px -10px;
}